@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: system-ui;
    @apply w-screen h-screen flex flex-col items-center justify-between
    bg-gray-900 text-gray-300 text-xl
}

main {
    @apply
    w-5/6
    md:w-4/6
    lg:w-3/6
}

h1 {
    @apply text-6xl font-bold py-7
}

h2 {
    @apply text-5xl font-bold py-6
}

h3 {
    @apply text-4xl font-bold py-5
}

h4 {
    @apply text-3xl font-bold py-4
}

h5 {
    @apply text-2xl font-bold py-3
}

h6 {
    @apply text-xl font-bold py-2
}

p {
    @apply py-2
}

code {
    font-family: Cascadia Mono;
    @apply block p-4 bg-gray-800 rounded-2xl my-2 overflow-x-scroll
}