<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Heki's Website{% endblock title %}</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.cdnfonts.com/css/cascadia-code" rel="stylesheet">
  </head>
  <body>
    <main>
      {% block content %}
      {% endblock content %}
    </main>
  </body>
</html>
