{% extends "base.html" %}

{% block title %}Heki's Website{% endblock title %}

{% block content %}
<h1>Hi, I'm Heki!</h1>
<p>
  I'm a tennager who loves technology and cares about privacy.
  Я изучаю руский язык.
  My favourite programming language is Rust 🦀.
  I use Arch BTW.
  I'm a freelancer, I prefer payments in Monero or on Fiverr.
  If you are interested, please contact me.
</p>
<br>
<p>
  <b>
    <a href="/github">Github</a>
    and
    <a href="/gitlab">Gitlab</a>
  </b>
</p>
<p>
  <b>Contact:</b>
  <br>
  <a href="mailto:heki@heki.me">heki@heki.me</a>
<p>Session ID: <code>05b022635d148004e1a57d887b725d59dfba5da07cc74dfbe7fe12ef751c289061</code></p>

</p>
<p>
  <b>XMR address for donations:</b>
  <br>
  <code>8BLMmJhS32k4PqP1Nj4Sb5axSGrHGeVwU1HghbLGngAmULCZ8r6TKJodq9AyTUh7RF5qwRHvM4cM1g2v5c2dgRqEC2WKfxe</code>
</p>
{% endblock content %}
